{% extends 'layouts/website.html' %}

{% block title %}hckr.studio{% endblock %}

{% block content %}
<main vocab="https://schema.org/" typeof="Organization">
<h1>hckr.studio</h1>

<blockquote>
  <h2><code>/ˈhækə(r)/</code></h2>
  <p>a person who uses or writes computer programs with enthusiasm and skill</p>
  <h2><code>/ˈstjuːdiəʊ/</code></h2>
  <p>a room where an artist works</p>
</blockquote>

<h2>contact_</h2>

<p><a property="email" href="mailto:team&#64;hckr.studio">team&#64;<!-- -->hckr.studio</a></p>

<h3>office</h3>
<div property="location" typeof="Place">
  <div>
    <div><strong>hckr.space</strong></div>
    <div>U půjčovny 952/2</div>
    <div><span>110 00</span>, <span>Praha 1</span></div>
    <div>Czech Republic</div>
    <div><a href="https://maps.app.goo.gl/MzqwzhzW78ptbujE7">navigate</a></div>
  </div>
</div>

<section>
<h3>billing</h3>
  <div property="legalName"><strong>hckr.studio s.r.o.</strong></div>
  <div  property="foundingLocation" typeof="Place">
<div property="address" typeof="PostalAddress">
  <div property="streetAddress">Hartigova 31/27</div>
  <div><span property="postalCode">130 00</span>, <span property="addressLocality">Praha 3</span></div>
  <div property="addressCountry">Czech Republic</div>
</div>
</div>
<dl>
  <dt>e-mail</dt>
  <dd><a href="mailto:invoices&#64;hckr.studio">invoices&#64;<!-- -->hckr.studio</a></dd>
  <dt>reg. no.</dt>
  <dd>21186022</dd>
  <dt>VAT ID</dt>
  <dd property="vatID">TBA</dd>
</dl>
</section>
</main>
{% endblock %}

{% block javascript %}
<script type="module">
  import {helloWorld} from "{{ 'index.js' | assetUrl('esm') }}";

  helloWorld();
</script>
{% endblock %}
