{% extends 'layouts/website.njk' %}

{% block title %}hckr.studio - extreme. experiments. experience.{% endblock %}

{% set bodySchema = "Organization" %}
{% block content %}
<main>
  <section id="team">
    <h2>our team</h2>

    <div role="list">
      <div class="contact" role="listitem" property="founder" typeof="Person">
        <h3 property="name">Dan Hromada</h3>
        <p><a property="sameAs" href="https://fakan.cz/">fakan.cz</a></p>
      </div>
      <div class="contact" role="listitem" property="founder" typeof="Person">
        <h3 property="name">Aleš Roubíček</h3>
        <p><a property="sameAs" href="https://www.rarous.net/">rarous.net</a></p>
      </div>
      <div class="contact" role="listitem" property="founder" typeof="Person">
        <h3 property="name">Pavel Trnka</h3>
        <p><a property="sameAs" href="https://www.ptrnka.cz/">ptrnka.cz</a></p>
      </div>
      <div class="contact" role="listitem" property="member" typeof="Person">
        <h3 property="name">Veronika Vajdiaková</h3>
        <p><a property="sameAs" href="https://fotkyodveroniky.cz/">fotkyodveroniky.cz</a></p>
      </div>
    </div>
  </section>

  <section id="contacts">
    <h2>contacts</h2>

    <p><a href="mailto:team&#64;hckr.studio" property="email">team&#64;<!-- -->hckr.studio</a></p>

    <h3>office</h3>
    <div property="address" typeof="PostalAddress">
      <div>
        <div><strong><a href="https://hckr.space">hckr.space</a></strong></div>
        <div property="streetAddress">U půjčovny 952/2</div>
        <div><span property="postalCode">110 00</span>, <span property="addressLocality">Praha 1</span></div>
        <div property="addressCountry">Czech Republic</div>
        <div><a href="https://maps.app.goo.gl/MzqwzhzW78ptbujE7">navigate</a></div>
      </div>
    </div>

    <section id="billing">
      <h3>billing</h3>
      <div property="legalName"><strong>hckr.studio s.r.o.</strong></div>
      <div property="foundingLocation" typeof="Place">
        <div property="address" typeof="PostalAddress">
          <div property="streetAddress">Hartigova 31/27</div>
          <div><span property="postalCode">130 00</span>, <span property="addressLocality">Praha 3</span></div>
          <div property="addressCountry">Czech Republic</div>
        </div>
      </div>
      <dl>
        <dt>e-mail</dt>
        <dd><a href="mailto:invoices&#64;hckr.studio">invoices&#64;<!-- -->hckr.studio</a></dd>
        <dt>reg. no.</dt>
        <dd>21186022</dd>
        <dt>VAT ID</dt>
        <dd property="vatID">CZ21186022</dd>
      </dl>
    </section>
  </section>

  <section id="partners">
    <h2>our partners</h2>
    <div role="list">
      <div role="listitem">
        <h3><a href="https://www.keboola.com">Keboola</a></h3>
      </div>
      <div role="listitem">
        <h3><a href="https://www.fenek.cz/">agentura Fenek</a></h3>
      </div>
      <div role="listitem">
        <h3><a href="https://izatlouk.cz/">Irena Zatloukalová</a></h3>
      </div>
      <div role="listitem">
        <h3><a href="https://geneea.com/">Geneea</a></h3>
      </div>
      <div role="listitem">
        <h3><a href="https://www.svejda-goldmann.cz/">Švejda&amp;Goldmann</a></h3>
      </div>
      <div role="listitem">
        <h3><a href="https://www.raumea.cz/">Raumea</a></h3>
      </div>
    </div>
  </section>

  <section id="references">
    <h2>references</h2>

    <div role="list">
      <div role="listitem">
        <h3>Hlídač shopů</h3>
        <p><a href="https://www.hlidacshopu.cz">www.hlidacshopu.cz</a></p>
        <ul>
          <li>Visual identity</li>
          <li>System architecture</li>
          <li>Implementation of Browser Extension, Web and Mobile Apps</li>
          <li>Implementation and maintenance of most Apify actors</li>
          <li>Optimization for cost and maintenance in a small team</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Hacker Camp</h3>
        <ul>
          <li>Visual identity and graphic design</li>
          <li>Implementation of public Web, attendees section and administration</li>
          <li>Production of Jungle Release stage</li>
          <li>Wi-Fi coverage of the ground</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Aseko</h3>
        <p><a href="https://www.asekopool.com/cs/web-services-cz/">www.asekopool.com</a></p>
        <ul>
          <li>Help with unification of a mobile apps development platform based on Web technology</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>NielsenIQ</h3>
        <p><a href="https://cgastrategy.com/on-premise-solutions-insights-for-drink-suppliers-and-wholesalers/">cgastrategy.com</a>
        </p>
        <ul>
          <li>Development and maintenance of Apify actors and Keboola BDM</li>
          <li>Outlets aquisition</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>maxit samples shop</h3>
        <p><a href="https://vzorky.maxit.cz/">vzorky.maxit.cz</a>
        </p>
        <ul>
          <li>Design and development of custom e-shop for samples of plaster colors and design surfaces</li>
          <li>Mobile first approach</li>
          <li>Used as live sample catalog on expo</li>
          <li>Build with Blendid!, Web Components and Cloudflare Pages</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Price Reduction Tool for European Commision</h3>
        <ul>
          <li>Solution Architecture</li>
          <li>Design based on EC design system</li>
          <li>PoC development</li>
          <li>Sucessful PoC running in 3 months</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="tools">
    <h2>tools</h2>

    <div role="list">
      <div role="listitem">
        <h3>Apify Dataset to Keboola uploader</h3>
        <p><a href="https://apify.com/hckr-studio/keboola-uploader">keboola-uploader</a></p>
        <ul>
          <li>Reliable uploader of Apify Datasets to Keboola Connection</li>
          <li>gracefully handles migrations</li>
          <li>implements retry policy for failed uploads</li>
          <li>supports Actor Integration</li>
          <li>allows to fine-tune the batch size for you optimal usage of resources</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Blendid!</h3>
        <p><a href="https://github.com/hckr-studio/blendid">blendid on GitHub</a></p>
        <ul>
          <li>Static website builder</li>
          <li>Assets pipeline</li>
        </ul>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block javascript %}{% endblock %}
