{% extends 'layouts/website.html' %}

{% block title %}hckr.studio - extreme. experiments. experience.{% endblock %}

{% block content %}
<main vocab="https://schema.org/" typeof="Organization">
  <hgroup>
    <h1>hckr.studio</h1>
    <h2>extreme_ experiments_ experience_</h2>
  </hgroup>

  <blockquote>
    <dl>
      <dt><code>/ˈhækə(r)/</code></dt>
      <dd>a person who uses or writes computer programs with enthusiasm and skill</dd>
      <dt><code>/ˈstjuːdiəʊ/</code></dt>
      <dd>a room where an artist works</dd>
    </dl>
  </blockquote>

  <section id="team">
    <h2>our team</h2>

    <div class="contact">
      <h3>Dan Hromada</h3>
      <p><a href="https://bager.page/">banger.page</a></p>
    </div>
    <div class="contact">
      <h3>Aleš Roubíček</h3>
      <p><a href="https://www.rarous.net/">rarous.net</a></p>
    </div>
    <div class="contact">
      <h3>Pavel Trnka</h3>
      <p><a href="https://www.ptrnka.cz/">ptrnka.cz</a></p>
    </div>
  </section>

  <section id="contacts">
    <h2>contacts</h2>

    <p><a property="email" href="mailto:team&#64;hckr.studio">team&#64;<!-- -->hckr.studio</a></p>

    <h3>office</h3>
    <div property="location" typeof="Place">
      <div>
        <div><strong>hckr.space</strong></div>
        <div>U půjčovny 952/2</div>
        <div><span>110 00</span>, <span>Praha 1</span></div>
        <div>Czech Republic</div>
        <div><a href="https://maps.app.goo.gl/MzqwzhzW78ptbujE7">navigate</a></div>
      </div>
    </div>

    <section id="billing">
      <h3>billing</h3>
      <div property="legalName"><strong>hckr.studio s.r.o.</strong></div>
      <div property="foundingLocation" typeof="Place">
        <div property="address" typeof="PostalAddress">
          <div property="streetAddress">Hartigova 31/27</div>
          <div><span property="postalCode">130 00</span>, <span property="addressLocality">Praha 3</span></div>
          <div property="addressCountry">Czech Republic</div>
        </div>
      </div>
      <dl>
        <dt>e-mail</dt>
        <dd><a href="mailto:invoices&#64;hckr.studio">invoices&#64;<!-- -->hckr.studio</a></dd>
        <dt>reg. no.</dt>
        <dd>21186022</dd>
        <dt>VAT ID</dt>
        <dd property="vatID">TBA</dd>
      </dl>
    </section>
  </section>
  <section id="references">
    <h2>references</h2>

    <div role="list">
      <div role="listitem">
        <h3>Hlídač shopů</h3>
        <p><a href="https://www.hlidacshopu.cz">www.hlidacshopu.cz</a></p>
        <ul>
          <li>Visual identity</li>
          <li>System architecture</li>
          <li>Implementation of Browser Extension, Web and Mobile Apps</li>
          <li>Implementation and maintenance of most Apify actors</li>
          <li>Optimization for cost and maintenance in small team</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Hackercamp</h3>
        <ul>
          <li>Visual identity</li>
          <li>Implementation of public Web, attendees section and administation</li>
          <li>Production of Jungle Release stage</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Aseko</h3>
        <p><a href="https://www.asekopool.com/cs/web-services-cz/">www.asekopool.com</a></p>
        <ul>
          <li>Help with unification of mobile app development platform</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>NielsenIQ</h3>
        <p><a href="https://cgastrategy.com/on-premise-solutions-insights-for-drink-suppliers-and-wholesalers/">cgastrategy.com</a>
        </p>
        <ul>
          <li>Development and maintenance of Apify actors and Keboola BDM</li>
          <li>Outlets aquisition</li>
        </ul>
      </div>
      <div role="listitem">
        <h3>Price Reduction Tool for European Commision</h3>
        <ul>
          <li>Solution Architecture</li>
          <li>Design based on EC design system</li>
          <li>PoC development</li>
          <li>Sucessful PoC running in 3 months</li>
        </ul>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block javascript %}
<script type="module">
  import {helloWorld} from "{{ 'index.js' | assetUrl('esm') }}";

  helloWorld();
</script>
{% endblock %}
