{% extends 'layouts/website.njk' %}

{% block title %}Podcast Studio @ hckr.space{% endblock %}


{% block content %}
  <h1>Podcast Studio</h1>

  <section>
    <h2>Technika</h2>
  </section>

  <section id="podcasty">
    <h2>Podcasty</h2>

    <article id="data-talk">
      <h3><a href="https://ceskepodcasty.cz/podcast/data-talk">DATA talk</a></h3>
      <picture>
        <img src="https://s3.actve.net/ceskepodcasty/321180_p1tusomhw587pmnj4sovjxmoopqk_29d6ee068d.jpeg" alt="" width="128" height="128">
      </picture>
      <p><a href="http://www.datatalk.cz/">www.datatalk.cz</a></p>
      <p>Vítejte u Data Talku! V našem podcastu vám chceme pravidelně
        přinášet zajímavý obsah z české a slovenské datové scény: rozhovory
        na odborná témata, představení relevantních datových firem, problémů a
        nástrojů, ale také aktuality z trhu.</p>
    </article>

    <article id="peopleops">
      <h3><a href="https://ceskepodcasty.cz/podcast/people-ops-podcast">PeopleOps podcast</a></h3>
      <picture>
        <img src="https://s3.actve.net/ceskepodcasty/924107_fucg6l1s3gcjjcp1r76xr7mu2jwl_e53f7949f8.jpeg" alt="" width="128" height="128">
      </picture>
      <p><a href="https://www.peopleops.cz/">www.peopleops.cz</a></p>
      <p>Ahoj, jsem Irča. Vaše průvodkyně ve světe PeopleOps. Víc jak dekádu se
        pohybuji na technologickém trhu. Svoje roky sbírané know-how o komunikaci a
        podpoře lidí (nejen v techu), chci sdílet se všemi, kdo nechtějí
        narážet hlavou do zdi tam, kde už to za ně udělali jiní. Jsem tu pro
        všechny, kdo chtějí vědět, jak mluvit a pracovat s lidmi v IT, aby to
        dávalo smysl a přinášelo výsledky.</p>

      <p>PeopleOps v kontextu, dlouhodobě, s praktickými zkušenostmi. Aby se
        žádný skvělý specialista, který začal vést lidi, nebo s nimi začal
        intenzivněji spolupracovat, neztratil v operativě a pod nánosem všech
        nových povinností a vjemů! Staňte se angažovanějšími a přitahujte si
        k sobě do týmu ty správné lidi! I s tím pomůžu v #PeopleOps. Protože
        všechno je to o lidech. #empower #engage #tech</p>

    </article>

    <article id="exec">
      <h3><a href="https://ceskepodcasty.cz/podcast/exec-talks-e-commerce-podcast">EXEC Talks</a></h3>
      <picture>
        <img src="https://s3.actve.net/ceskepodcasty/856909_eu4b16kjgaailq6mw2qqf90zrk63_e0bcf9d1d5.jpeg" alt="" width="128" height="128">
      </picture>
      <p>EXEC Talks je podcast pro e-commerce managery, ve kterém uslyšíte
        rozhovory se zajímavými a úspěšnými e-commerce osobnostmi. EXEC Talks
        vydává Shopsys, jednička ve tvorbě e-shopů na míru.</p>
    </article>

    <article id="hra-skolou">
      <h3><a href="https://ceskepodcasty.cz/podcast/hra-skolou-podcast">Hra školou podcast</a></h3>
      <picture>
        <img src="https://s3.actve.net/ceskepodcasty/474899_41140393_1714943058227_906c4debdf0ce_01b5d2077e.jpeg" alt="" width="128" height="128">
      </picture>
      <p><a href="https://www.hraskoloupodcast.cz/">www.hraskoloupodcast.cz</a></p>
      <p>Hledáte pro své dítě ten nejlepší možný start? Přemýšlíte, jak
        vybrat nejlepší mateřskou školku a jaké možnosti se před vámi
        otevírají? Podcast Hra školou shromažďuje klíčové informace na jednom
        místě, přímo od kovaných expertů. Provedeme vás světem předškolního
        vzdělávání a ukážeme, jaké máte možnosti.</p>
    </article>

    <article id="appcast">
      <h3><a href="https://ceskepodcasty.cz/podcast/app-cast-ceske-appky-ktere-dobyvaji-svet">AppCast</a></h3>
      <picture>
        <img src="https://s3.actve.net/ceskepodcasty/876303_riptkxu6fc6t3a289l9wni315mh0_b3dfc4d428.jpeg" alt="" width="128" height="128">
      </picture>
      <p>Rozhovory s tvůrci úspěšných aplikací, které vznikly v Česku.
        V rámci rozhovorů se snažíme s hosty odkrývat, jaké jsou základní
        ingredience receptu na úspěšnou aplikaci.</p>
    </article>
  </section>

{% endblock %}
