{% extends 'layouts/website.njk' %}

{% block title %}Podcast Studio @ hckr.space{% endblock %}


{% block content %}
  <h1>Podcast Studio</h1>

  <section>
    <h2>Technika</h2>
  </section>

  <section id="podcasty">
    <header>
      <h2>Podcasty</h2>
      <p>Jaké podcasty se u nás natáčí?</p>
    </header>

    {% macro podcastTemplate(item) %}
      <article class="podcast" id="{{ item.slug }}">
        <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <picture>
          <img src="{{ item.image }}" alt="" width="128" height="128">
        </picture>
        {% if item.website or item.youtube %}
          <p>{% if item.website %}<a href="{{ item.website }}">Web</a>{% endif %}
            {% if item.youtube %}<a href="{{ item.youtube }}">YouTube</a>{% endif %}</p>
        {% endif %}
        {{ item.body | safe }}
      </article>
    {% endmacro %}

    {% for key in podcastsSection.list %}
      {{ podcastTemplate(podcasts[key]) }}
    {% endfor %}
  </section>

  <pre>
    {{ jahoda() | dump }}
  </pre>

{% endblock %}
