{% extends 'layouts/website.html' %}

{% block title %}hckr.tv - extreme. experiments. experience.{% endblock %}

{% block content %}
<main vocab="https://schema.org/" typeof="Organization">
  <header>
    <hgroup>
      <h1 property="name">hckr_<em>tv</em></h1>
      <h2 property="slogan">extreme_ experiments_ experience_</h2>
    </hgroup>

    <div>
      <time datetime="2021-01-30" property="foundingDate"></time>
      <data value="3" property="numberOfEmployees"></data>
    </div>
  </header>
</main>
{% endblock %}

{% block javascript %}
<script type="module">
</script>
{% endblock %}
